<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0">
    <title>Airline Company - Database Project</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* CSS for background image */
        #welcome {
            background-image: url('../static/wallpaperflare.com_wallpaper\(12\).jpg');
            background-size: cover;
            background-position: center;
            color: white; /* Text color to ensure readability */
            padding: 50px; /* Add padding for content */
            height: 800px;
        } 
    </style>
</head>
<body>
    <div id="nav-bar">
        <nav class="navbar">
            <div class="container-fluid">
                <span class="navbar-brand icon">
                    <i class="fa-solid fa-plane-departure "></i>
                    <strong class="sedan-regular-italic">Relax Airlines</strong>  
                </span>
            </div>
        </nav>
    </div>
    <div id="welcome" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>Welcome to Relax Airlines</h1>
                    <div class="buttons">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="time_table" class="btn btn-outline-light btn-lg">Time table</a>
                            <a href="book" class="btn btn-outline-light btn-lg">Book</a>
                            <a href="check_booking" class="btn btn-outline-light btn-lg">Check Reservation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Opinion Cards -->
     <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card opinion-card">
                    <div class="card-body">
                        <h5 class="card-title">Great Service!</h5>
                        <p class="card-text">I had a wonderful experience flying with Relax Airlines. The service was excellent, and the staff was very friendly.</p>
                        <p class="card-text"><small class="text-muted">- Maria Emad</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card opinion-card">
                    <div class="card-body">
                        <h5 class="card-title">Smooth Flights</h5>
                        <p class="card-text">I've flown with Relax Airlines multiple times, and every flight has been smooth and comfortable. Highly recommended!</p>
                        <p class="card-text"><small class="text-muted">- Toqa Yasser</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card opinion-card">
                    <div class="card-body">
                        <h5 class="card-title">Impressed!</h5>
                        <p class="card-text">I was impressed by the efficiency and professionalism of Relax Airlines. Will definitely fly with them again.</p>
                        <p class="card-text"><small class="text-muted">- Reem Ahmed</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Relax Airlines. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
